body{
    background-color: rgb(255, 255, 255);
}

.header{
    width: 100%;
    padding: 0 10%;
    background-color: rgb(255, 255, 255);
}

#header2{
    width: 100%;
    height: 500px;
}

#header1{
    background-color: rgb(247, 205, 129);
    padding: 0;
}

#text-header{
    color: white;
    font-size: 30px;
    background-color: rgb(247, 205, 129)
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    width: 100%;
    padding: 0 10%;
    background-color: white
}

.container1{
    padding: 100px;
    background-color: white
}

.container2{
    background-image: url('interracial.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.quote{
    width: 80%;
    padding: 80px;
    margin: 0 10%;
    background-color: rgb(247, 205, 129);
    color: #fff;
    font-size: 20px
}

#activities{
    background-color: rgb(247, 205, 129)
}

.container-2{
    display: grid;
    grid-template-rows: 150px 500px;
    width: 100%;
    padding: 0 10% 3% 10%;
    background-color: rgb(255, 255, 255);
}

.activities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 100px;
    grid-gap: 20px;
    width: 100%;
    background-color: white;
}

.image{
    height: 400px;
}

#im{
    width: 100%;
    height: 400px;
}

.text{
    padding: 30px 0;
    font-size: 20px;
    background-color: rgb(247, 205, 129);
    color: #fff;
}

footer{
    padding: 30px 20px;
    font-size: 30PX;
    color: #fff;
    background-color: rgb(247, 205, 129);
    text-align: center
}

.fab{
    color: #fff;
    padding:0 5px;
    font-size: 20px;
}

#a, #b{
    color:rgb(247, 205, 129);
}

@media screen and (min-width: 769px) {
}
  
@media screen and (max-width: 768px){
    .header{
        display: grid;
        grid-template-rows: 20px 300px;
        background-image: none;
        grid-gap: 81px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header1{
        margin: 0;
        width: 100%;
        background-color:transparent
    }

    #text-header{
        color:  white;
        font-size: 15px;
        background-color: transparent
    }

    .quote{
        width: 100%;
        padding: 80px 0;
        margin: 0;
        background-color: rgb(255, 255, 255);
        color: rgb(247, 205, 129);
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .container1{
        background-image: url('interracial.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding:100px 0;
        color: #fff;
    }
    
    .container2{
        display: none
    }

    .container-2{
        grid-template-rows: 3% 400px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .activities{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 330px 330px 330px;
        grid-gap: 0;
    }

    #food, #health, #homeless {
        margin-top: 0;
        width: 100%;
         background-color: rgb(255, 255, 255);
    }

    .image{
        height: 250px;
    }

    #im{
        width: 100%;
        height: 250px;
    }

    .text{
        background: white;
        color: rgb(247, 205, 129)
    }

    footer{
        margin-top: 588px;
    }

    #a, #b{
        color:rgb(247, 205, 129);
    }

}
